<div>
    <h2>
        <span>Domains</span>
        <button class="btn btn-primary float-right jh-create-entity create-domain-my-suffix" [routerLink]="['/', { outlets: { popup: ['domain-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Domain
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="domains">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Tenant Id</span></th>
            <th><span>Domain Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let domain of domains ;trackBy: trackId">
                <td><a [routerLink]="['../domain-my-suffix', domain.id ]">{{domain.id}}</a></td>
                <td>{{domain.tenantId}}</td>
                <td>{{domain.domainName}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../domain-my-suffix', domain.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'domain-my-suffix/'+ domain.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'domain-my-suffix/'+ domain.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
