
<div *ngIf="domain">
    <h2><span>Domain</span> {{domain.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Service Id</span></dt>
        <dd>
            <span>{{domain.serviceId}}</span>
        </dd>
        <dt><span>Device Id</span></dt>
        <dd>
            <span>{{domain.deviceId}}</span>
        </dd>
        <dt><span>Service Name</span></dt>
        <dd>
            <span>{{domain.serviceName}}</span>
        </dd>
        <dt><span>Device Name</span></dt>
        <dd>
            <span>{{domain.deviceName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'domain-my-suffix/'+ domain.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
