
<div *ngIf="aP">
    <h2><span>AP</span> {{aP.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Service Id</span></dt>
        <dd>
            <span>{{aP.serviceId}}</span>
        </dd>
        <dt><span>Service Name</span></dt>
        <dd>
            <span>{{aP.serviceName}}</span>
        </dd>
        <dt><span>Apgroup</span></dt>
        <dd>
            <div *ngIf="aP.apgroup">
                <a [routerLink]="['/ap-group-my-suffix', aP.apgroup?.id]">{{aP.apgroup?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ap-my-suffix/'+ aP.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
