<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAPLabel">Create or edit a AP</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!aP.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="aP.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_serviceId">Service Id</label>
            <input type="text" class="form-control" name="serviceId" id="field_serviceId"
                [(ngModel)]="aP.serviceId" required/>
            <div [hidden]="!(editForm.controls.serviceId?.dirty && editForm.controls.serviceId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.serviceId?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_serviceName">Service Name</label>
            <input type="text" class="form-control" name="serviceName" id="field_serviceName"
                [(ngModel)]="aP.serviceName" required/>
            <div [hidden]="!(editForm.controls.serviceName?.dirty && editForm.controls.serviceName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.serviceName?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_apgroup">Apgroup</label>
            <select class="form-control" id="field_apgroup" name="apgroup" [(ngModel)]="aP.apgroup" >
                <option [ngValue]="null"></option>
                <option [ngValue]="aPGroupOption.id === aP.apgroup?.id ? aP.apgroup : aPGroupOption" *ngFor="let aPGroupOption of apgroups; trackBy: trackAPGroupById">{{aPGroupOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
