
<div *ngIf="wlanGroup">
    <h2><span>Wlan Group</span> {{wlanGroup.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Device Id</span></dt>
        <dd>
            <span>{{wlanGroup.deviceId}}</span>
        </dd>
        <dt><span>Device Name</span></dt>
        <dd>
            <span>{{wlanGroup.deviceName}}</span>
        </dd>
        <dt><span>Members</span></dt>
        <dd>
            <span *ngFor="let members of wlanGroup.members; let last = last">
                <a [routerLink]="['/wlan-my-suffix', members?.id ]">{{members.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Zone</span></dt>
        <dd>
            <div *ngIf="wlanGroup.zone">
                <a [routerLink]="['/zone-my-suffix', wlanGroup.zone?.id]">{{wlanGroup.zone?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'wlan-group-my-suffix/'+ wlanGroup.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
