<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWlanGroupLabel">Create or edit a Wlan Group</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!wlanGroup.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="wlanGroup.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_deviceId">Device Id</label>
            <input type="text" class="form-control" name="deviceId" id="field_deviceId"
                [(ngModel)]="wlanGroup.deviceId" required/>
            <div [hidden]="!(editForm.controls.deviceId?.dirty && editForm.controls.deviceId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.deviceId?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_deviceName">Device Name</label>
            <input type="text" class="form-control" name="deviceName" id="field_deviceName"
                [(ngModel)]="wlanGroup.deviceName" required/>
            <div [hidden]="!(editForm.controls.deviceName?.dirty && editForm.controls.deviceName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.deviceName?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="field_members">Members</label>
            <select class="form-control" id="field_members" multiple name="members" [(ngModel)]="wlanGroup.members">
                <option [ngValue]="getSelected(wlanGroup.members, wlanOption)" *ngFor="let wlanOption of wlans; trackBy: trackWlanById">{{wlanOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_zone">Zone</label>
            <select class="form-control" id="field_zone" name="zone" [(ngModel)]="wlanGroup.zone" >
                <option [ngValue]="null"></option>
                <option [ngValue]="zoneOption.id === wlanGroup.zone?.id ? wlanGroup.zone : zoneOption" *ngFor="let zoneOption of zones; trackBy: trackZoneById">{{zoneOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
