
<div *ngIf="zone">
    <h2><span>Zone</span> {{zone.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Service Id</span></dt>
        <dd>
            <span>{{zone.serviceId}}</span>
        </dd>
        <dt><span>Device Id</span></dt>
        <dd>
            <span>{{zone.deviceId}}</span>
        </dd>
        <dt><span>Service Name</span></dt>
        <dd>
            <span>{{zone.serviceName}}</span>
        </dd>
        <dt><span>Device Name</span></dt>
        <dd>
            <span>{{zone.deviceName}}</span>
        </dd>
        <dt><span>Domain</span></dt>
        <dd>
            <div *ngIf="zone.domain">
                <a [routerLink]="['/domain-my-suffix', zone.domain?.id]">{{zone.domain?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'zone-my-suffix/'+ zone.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
